<div class="page-container">

  <div class="sidebar">
    <div class="list-items">
      <a routerLink="dashboard" routerLinkActive="selected"class="list-item">
        <i class="material-icons">bookmark_border</i>
        Item 1
      </a>
      <a routerLink="search" routerLinkActive="selected" class="list-item">
        <i class="material-icons">bookmark_border</i>
        Item 2
      </a>
      <a routerLink="game" routerLinkActive="selected" class="list-item">
        <i class="material-icons">bookmark_border</i>
        Item 3
      </a>
    </div>
  </div>
  <div class="page-container-content">
    <router-outlet></router-outlet>
  </div>

</div>