.list-items {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 50px;
  .list-item {
      display: flex;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
  }
  .list-item::before {
    background-color: orange;
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    content: "";
    opacity: 0;
    transform: ScaleY(0);
    transition: transform 0.3s, opacity 0.3s;
  }
  .list-item:hover {
    color: rgba(255, 255, 255, 1);
  }
  .list-item:hover::before {
    opacity: 1;
    transform: ScaleY(1);
  }
  .material-icons{
      padding-right:20px;
  }
}
