.sidebar {
  position: absolute;
  width: 459px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: #1e213a;
  color: white;
}
.close {
  position: absolute;
  right: 25px;
  top: 22.53px;
  cursor: pointer;
}
.material-icons{
    color: white;
}